body{
    background-color:rgba(189, 233, 229, 0.479);
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    font-family: 'Amatic SC', sans-serif;

}

.navbar {
    font-size:30px;
    margin-top:20px;
    margin-bottom:50px;
    border-radius:25px;

}

.header{
    font-size:60px;
    margin-top:20px;
    margin-bottom:50px;
    border-radius:25px;
}

.carousel{
    margin:5px;
    border-radius:10px;
    width:500px;
    margin:auto;
}

.footer{
    background-color:rgb(225, 235, 233);
    height:60px;
    padding:15px;
    margin:20px;
    font-family: 'Amatic SC', sans-serif;
    
}
 h3{
    margin:20px;
 }

 li{
    font-size:20px;
 }